
*.meta
/Assets/Scenes/Sprites/Landscape
/Assets/Scenes/Sprites/PokemonSprites
/Library
/ProjectSettings
/Temp
/Packages
/UserSettings
/Logs
/Assets/Scenes/Sprites
/Assets/Game/Resources/Pokemons
/Assets/Game/Resources/Moves
*.anim
Assets/Scenes/Battle/Orange kid.ttf
Assets/Scenes/SampleScene.unity
/Assets/Plugins/Demigiant/DOTween
/obj/Debug
*.csproj
*.sln
/Assets/Resources
.vsconfig
/.vs/PokemonGame/v16
/Assets/Scenes/Animations
/Assets/Scenes/Animations
/Assets
Assets/Scenes/Animations/Player.controller
